Order Deny,Allow
Allow from any


RewriteEngine On

RewriteRule ^farm_amis\.xml$ farm_amis_xml.php?%{QUERY_STRING}    [NE,L]

RewriteRule ^storage/keys/([0-9]+)/(.*)\.pem$ farms_view.php?id=$1&task=download_private_key [NE,L]

RewriteRule ^storage/graphics/([0-9]+)/(.*)/(.*)\.gif$ farm_graphs.php?id=$1&img=$2&type=$3 [NE,L]

#Timeline events XML
RewriteRule ^storage/events/([0-9]+)/timeline\.xml$ timeline.xml.php?farmid=$1 [NE,L]

#Farm events RSS
RewriteRule ^storage/events/([0-9]+)/rss\.xml$ rss.xml.php?farmid=$1 [NE,L]


#errors
#ErrorDocument 404 /404.php?error=404
#ErrorDocument 401 /404.php?error=
#ErrorDocument 400 /404.php?error=
#ErrorDocument 500 /404.php?error=

########################################
# Error handling and debugging         #
########################################
# errors
#php_flag error_reporting 0
#php_flag display_errors 0
#php_flag log_errors 0
#php_value error_log D:\inetpub\radiohoster\web\app\debug\error.log

# tracing
#php_value xdebug.auto_trace On
#php_value xdebug.collect_return 1
#php_value xdebug.show_local_vars 1
#php_value xdebug.trace_output_dir D:\inetpub\radiohoster\web\app\debug

# profiling
#php_value xdebug.profiler_enable On
#php_value xdebug.auto_profile Off
#php_value xdebug.profiler_output_dir D:\inetpub\radiohoster\web\app\debug
# for XDEBUG_PROFILE GET/POST parameter
#php_value xdebug.profiler_enable_trigger 1

